@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-color: #ff0000;
  --success-color: #03a529;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #969696;
  --light-red: #f3f3f3;
  --bg-color: #fff;
  --bg-color-2: #b0ffda;
  --text-color-1: #000;
  --text-color-2: #f00;
  --text-color-3: #6e6666;
  --text-color-4: #495057;
  --text-color-5: #343a40;
  --text-color-6: #212529;
  --font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-shadow: 10px 10px 5px 2px rgb(199, 235, 247); */
}
button:focus,
input:focus,
textarea:focus {
  outline: 0;
}
/* Bottom  */
/*  button css */
.btn {
  display: inline-block;
  padding: 14px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: var(--font-family);
  font-size: 24px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-primary:hover {
  background-color: var(--light-color);
  color: rgb(3, 3, 3);
}

.btn-success {
  background-color: var(--success-color);
  color: white;
}

.btn-success:hover {
  background-color: var(---slate-600);
  color: white;
}

.btn-event {
  background-color: var(--primary-color);
  color: white;
}

.btn-event:hover {
  background-color: var(--light-color);
  color: black;
}

html {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--bg-color);
}
section,
header,
footer {
  max-width: 1660px;
  width: 1320px;
  margin: 0 auto;
}

.header {
  position: relative;
  margin-top: 50px;
  background-image: url("./resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: content;
  height: 600px;
}

.header > .hr-part-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin: 0 20px;
}
.header > .hr-part-one > .logo-box > .logo {
  color: #fff;
}
.header .hr-part-one nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header .hr-part-one nav > ul > li > a {
  text-decoration: none;
  color: var(--light-color);
}

.header .hr-part-two {
  position: absolute;
  width: 632px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .hr-part-two > .title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: var(--light-color);
}
.header .hr-part-two > .sub-title {
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  color: var(--light-color);
}

/* Section Categories */
.sec-01 {
  margin-top: 50px;
}
.sec-01 > .sec-01-art {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-01 > .sec-01-art > .sec-01-text {
  text-align: center;
}

.sec-01 > .sec-01-art > .sec-01-text > h1 {
  font-size: 88px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 106px;
  margin-bottom: 48px;
}
.sec-01 > .sec-01-art > .sec-01-text > p {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-color);
  line-height: 28px;
  margin-bottom: 28px;
}

.sec-01 > .sec-01-art > .sec-01-text > h3 {
  font-size: 48px;
  font-weight: 700;
  color: var(--text-color-6);
  line-height: 58px;
  margin-bottom: 58px;
}
/*  Event Sec css */
.event > .event-sec-01 {
  position: relative;
  margin-top: 50px;
  background-image: url("./resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: content;
  height: 600px;
}
.event-sec-01-wrapper {
  padding: 60px 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.event-sec-01-wrapper > .event-sec-01-text {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.event-sec-01-wrapper > .event-sec-01-text > h1 {
  font-size: 64px;
  font-weight: 900;
  color: var(--light-color);
  line-height: 88px;
  padding-bottom: 20px;
  letter-spacing: 7.04px;
}
.event-sec-01-wrapper > .event-sec-01-text > p {
  color: var(--light-color);
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 20px;
}
.event-sec-01-wrapper > .event-sec-01-img > img {
  max-width: 320px;
  height: 460px;
}

.event > .event-sec-02 {
  position: relative;
  margin-top: 50px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 600px;
}
.event > .event-sec-02 > .event-add-sec {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.event > .event-sec-02 > .event-add-sec > .event-add {
  padding-bottom: 48px;
}
.event > .event-sec-02 > .event-add-sec > .event-add > div {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.event > .event-sec-02 > .event-add-sec > .event-add > div > .span {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  color: var(--primary-color);
}
/* Section -03 -Offer Start  */

.sec-03 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.sec-03 > .sec-03-art-1 {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.sec-03 > .sec-03-art-1 > h2 {
  color: var(--primary-color);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.sec-03 > .sec-03-art-1 > h3 {
  color: var(--text-color-1);
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 20px;
}
.sec-03 > .sec-03-art-1 > p {
  color: var(--text-color-3);
  font-size: 20px;
  line-height: 32px;
}

.sec-03 > .circle-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 14px solid red;
  border-radius: 50%;
  height: 464px;
  width: 464px;
}

.sec-03 > .sec-03-art-2 {
  width: 340px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.sec-03 > .sec-03-art-2 > h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.sec-03 > .sec-03-art-2 > p {
  color: var(--text-color-3);
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 40px;
}

/* sec -03 part one end */
.sec-03-02 {
  margin-top: 50px;
  position: relative;
  height: 920px;
}
.sec-03-02 > .sec-03-02-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec-03-02 > .sec-03-02-text > h3 {
  color: var(--text-color-6);
  font-size: 24px;
  font-weight: 500;
}
.sec-03-02 > .sec-03-02-text > h1 {
  color: var(--text-color-1);
  font-size: 72px;
  font-weight: 900;
}
.sec-03-02 > .sec-03-02-text > h1 > span {
  color: var(--primary-color);
  font-size: 72px;
  font-weight: 900;
}
.sec-03-02 > .sec-03-02-text > p {
  width: 1068px;
  color: var(--text-color-3);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}
.ban-imgs > .imgs {
  margin-top: 50px;
  position: relative;
}

.ban-imgs > .imgs > .cut-img > .img-one {
  position: absolute;
  right: 0;
}
.ban-imgs > .imgs > .cut-img > .disc-img {
  position: relative;
}
.ban-imgs > .imgs > .cut-img > .disc-img > .img-two {
  position: absolute;
  right: 280px;
  top: 47px;
}

.ban-imgs > .imgs > .img-three {
  position: absolute;
  height: 433px;
  left: 60px;
  top: 160px;
  z-index: 99;
}

.ban-imgs > .last-img {
  position: absolute;
  bottom: 0;
}

/*  Portfolio sec  css*/
.sec-04 {
  margin-top: 50px;
}
.sec-04 > header > h3 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 24px;
  margin-bottom: 16px;
}
.sec-04 > header > h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--text-color-1);
  line-height: 58px;
  margin-bottom: 40px;
}
.sec-04 > header > p {
  width: 896px;
  font-size: 20px;
  color: var(--text-color-3);
  line-height: 30px;
}
.sec-04 > .content-box > article > .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
}

.sec-04 > .content-box > article > .row > .content > img {
  width: 424px;
  height: 450px;
}
/* Newsletter Sec css*/
.newsltr-sec {
  margin-top: 50px;
  height: 600px;
  background: rgba(255, 0, 0, 0.05);
}
.newsltr-sec > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsltr-sec > article > .header-part > .icon {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}
.newsltr-sec > article > .header-part > h2 {
  width: 890px;
  color: var(--text-color-1);
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 20px;
}
.newsltr-sec > article > .header-part > p {
  width: 890px;
  text-align: center;
}

.subs-box > form {
  width: 648px;
  height: 72px;
  position: relative;
  background: rgba(255, 0, 0, 0.05);
  margin: 40px auto auto auto;
  border-radius: 20px;
}
.subs-box > form > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: transparent;
  color: var(--light-color);
  font-size: 18px;
  padding-left: 25px;
}
.subs-box > form > input::placeholder {
  color: var(--text-color-4);
}
.subs-box > form > button {
  background: var(--light-color);
  box-shadow: 0px 7px 20px rgba(141, 40, 173, 0.15);
  border-radius: 0 14px 14px 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: transparent;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color-3);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.subs-box > form > button:hover {
  background: var(--primary-color);
  color: var(--light-color);
}
/* footer css */
footer {
  margin-top: 50px;
  padding: 120px;
  height: 600px;
  background: #000;
}
footer > .address-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
footer > .address-sec .address {
  width: 375px;
}
footer .address-txt {
  font-size: 24px;
  font-weight: 500;
  color: var(--light-color);
}

footer > .address-sec .contact {
  font-size: 24px;
  font-weight: 500;
  color: var(--light-color);
}
footer > hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}
footer > .social-icon-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  /*  border: 1px solid var(--text-color-5); */
}
footer > .social-icon-sec > nav > ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

footer > .copyright-sec {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
footer > .copyright-sec > .copy-txt {
  font-size: 24px;
  font-weight: 500;
  color: var(--light-color);
}
